<html>
	<head th:replace="~{base :: head}"></head>	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<body>	
	<div th:fragment="logo" class="logo-container mb-3 p-3 d-flex justify-content-between">
		<span class="logo">Cadastro de clientes</span>
		<a href="/cliente/cadastro" style="text-decoration:none"><span class="logo mt-3">Cadastrar</span></a>
	</div>
	
	<form class="container" method="POST" action="/cliente/sort">
				
		<div class="form-check">
			<h5>Ordenar pelo campo </h5>			
				<input class="form-check-input" type="radio" id="orderBy" name="orderBy" value="nome" checked>
				<label class="card-text" for="nome">nome</label><br>
				<input class="form-check-input" type="radio" id="orderBy" name="orderBy" value="dataDeNascimento">
				<label class="card-text" for="dataDeNascimento">data de nascimento</label>
			
		</div>	
		<div class="form-check">	
			<h5>Ordenar de maneira </h5>		
				<input class="form-check-input" type="radio" id="direction" name="direction" value="ASC" checked>
				<label for="ASC">Crescente </label><br>
				<input class="form-check-input" type="radio" id="orderBy" name="direction" value="DESC">
				<label for="DESC"> Decrescente </label><br>
		</div>
		
		<button class="btn btn-primary mt-3" type="submit">Buscar</button>
	
	</form>
		
	<table class="container table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>CPF</th>
				<th>Data de Nascimento</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${clientes} != null" th:each="cliente : ${clientes}"> 
				<td><span th:text="${cliente.nome}"></span></td>
				<td><span th:text="${cliente.email}"></span></td>
				<td><span th:text="${cliente.cpf}"></span></td>
				<td><span th:text="${cliente.dataDeNascimento}"></span></td>
				<td><a th:href="@{/cliente/deletar/{id}(id=${cliente.id})}"><i class="far fa-trash-alt"></i></a></td>
			</tr>
		</tbody>	
	</table>	
	
</body>

</html>